@import "../common.module.scss";

$font-kr: "Noto Sans KR", sans-serif;
$font-en: "Noto Sans", sans-serif;

.plani_content {
  width: 100%;
  margin-top: 60px;
  height: 715px;
  display: flex;

  .plani_leftBox {
    width: 50%;
    height: 100%;
    position: relative;

    > p {
      margin-top: 80px;
      font-family: $font-en;
      font-size: 16px;
      font-weight: 300;
    }

    > h2 {
      margin-top: 10px;
      font-family: $font-en;
      font-weight: 400;
      font-size: 80px;
    }

    .plani_list {
      width: 690px;
      height: 120px;
      margin-top: 40px;
      margin-left: 0;

      .list_item {
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        > div {
          width: 90%;
          height: 90%;

          > img {
            width: 190px;
            height: 110px;
            box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
            /*   object-fit: cove */
          }
        }
      }
    }

    .plani_text {
      margin-top: 40px;
      width: 100%;
      font-weight: 300;
      font-family: $font-kr;
      font-size: 16px;

      > p {
        margin-bottom: 10px;
      }
      > div {
        width: 100%;
        height: 70px;
        display: flex;

        > p {
          width: 9.5%;
        }
        > div {
          width: 80%;
        }
      }
    }

    .plani_bottom {
      margin-top: 49px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      > li:nth-child(1) {
        display: flex;
        > p {
          cursor: pointer;
          font-family: $font-en;
          font-size: 18px;
          font-weight: 300;
          margin-left: 30px;
        }
        > img {
          cursor: pointer;
          width: 79px;
        }
      }
    }
  }

  .plani_rightBox {
    width: 50%;
    height: 100%;

    .plani_overView {
      margin-top: 130px;
      width: 100%;
      height: 440px;
      overflow: hidden;

      > li {
        width: 100%;
        height: 100%;

        > img {
          width: 99%;
          height: 99%;
          box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
        }
      }
    }

    > a {
      display: block;
      margin-right: 5px;
      margin-top: 50px;
      text-align: right;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@include desktop {
  .plani_content {
    width: 100%;
    margin-top: 10px;
    height: 715px;
    display: flex;

    .plani_leftBox {
      width: 60%;
      height: 100%;
      position: relative;

      > p {
        margin-top: 80px;
        font-family: $font-en;
        font-size: 16px;
        font-weight: 300;
      }

      > h2 {
        margin-top: 10px;
        font-family: $font-en;
        font-weight: 400;
        font-size: 80px;
      }

      .plani_list {
        width: 100%;
        height: 120px;
        margin-top: 40px;
        margin-left: 0;

        .list_item {
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;

          > div {
            width: 90%;
            height: 90%;

            > img {
              width: 190px;
              height: 110px;
              box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
              /*   object-fit: cove */
            }
          }
        }
      }

      .plani_text {
        margin-top: 40px;
        width: 100%;
        font-weight: 300;
        font-family: $font-kr;
        font-size: 14px;
        > p {
          margin-bottom: 10px;
        }
        > div {
          width: 100%;
          height: 70px;
          display: flex;

          > p {
            width: 9.5%;
          }
          > div {
            width: 80%;
          }
        }
      }

      .plani_bottom {
        margin-top: 49px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        > li:nth-child(1) {
          display: flex;
          > p {
            cursor: pointer;
            font-family: $font-en;
            font-size: 18px;
            font-weight: 300;
            margin-left: 30px;
          }
          > img {
            cursor: pointer;
            width: 79px;
          }
        }
      }
    }

    .plani_rightBox {
      width: 40%;
      height: 100%;

      .plani_overView {
        margin-top: 180px;
        width: 100%;
        height: 330px;
        overflow: hidden;

        > li {
          width: 100%;
          height: 100%;

          > img {
            width: 99.5%;
            height: 99.5%;
            box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
          }
        }
      }

      > a {
        display: block;
        margin-right: 5px;
        margin-top: 50px;
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@include tablet {
  .plani_content {
    width: 100%;
    margin-top: 10px;
    height: 715px;
    display: flex;

    .plani_leftBox {
      width: 55%;
      height: 100%;
      position: relative;

      > p {
        margin-top: 80px;
        font-family: $font-en;
        font-size: 14px;
        font-weight: 300;
      }

      > h2 {
        margin-top: 10px;
        font-family: $font-en;
        font-weight: 400;
        font-size: 53px;
      }

      .plani_list {
        width: 100%;
        height: 120px;
        margin-top: 40px;
        margin-left: 0;

        .list_item {
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;

          > div {
            width: 90%;
            height: 90%;

            > img {
              /* width: 80%; */
              height: 110px;
              box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
              /*   object-fit: cove */
            }
          }
        }
      }

      .plani_text {
        margin-top: 40px;
        width: 100%;
        font-weight: 300;
        font-family: $font-kr;
        font-size: 12px;

        > p {
          margin-bottom: 10px;
        }
        > div {
          width: 100%;
          height: 70px;
          display: flex;
          flex-wrap: wrap;

          > p {
            width: 100%;
          }
          > div {
            width: 80%;
          }
        }
      }

      .plani_bottom {
        margin-top: 49px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        > li:nth-child(1) {
          display: flex;
          > p {
            cursor: pointer;
            font-family: $font-en;
            font-size: 18px;
            font-weight: 300;
            margin-left: 30px;
          }
          > img {
            cursor: pointer;
            width: 79px;
          }
        }
      }
    }

    .plani_rightBox {
      width: 45%;
      height: 100%;

      .plani_overView {
        margin-top: 210px;
        width: 100%;
        height: 300px;
        overflow: hidden;

        > li {
          width: 100%;
          height: 100%;

          > img {
            width: 99.5%;
            height: 99.5%;
            box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
          }
        }
      }

      > a {
        display: block;
        margin-right: 5px;
        margin-top: 20px;
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}

@include mobile {
  .plani_content {
    width: 100%;
    margin-top: 10px;
    height: 715px;
    display: flex;

    .plani_leftBox {
      width: 100%;
      height: 100%;

      > p {
        margin-top: 30px;
        font-family: $font-en;
        font-size: 10px;
        font-weight: 300;
      }

      > h2 {
        margin-top: 10px;
        font-family: $font-en;
        font-weight: 400;
        font-size: 30px;
      }

      .plani_list {
        width: 100%;
        height: 120px;

        position: absolute;
        top: 58%;
        left: 50%;
        transform: translateX(-50%);

        .list_item {
          cursor: pointer;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          > div {
            width: 99%;
            height: 99%;

            > img {
              width: 100%;
              height: 110px;
              box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
              /*   object-fit: cove */
            }
          }
        }
      }

      .plani_text {
        width: 80%;
        font-weight: 300;
        font-family: $font-kr;
        font-size: 12px;
        position: absolute;
        top: 75%;
        left: 1%;
        z-index: 2;

        p:nth-child(2),
        p:nth-child(3),
        p:nth-child(4) {
          display: none;
        }
        > div {
          width: 100%;
          height: 70px;
          display: flex;
          flex-wrap: wrap;
          display: none;

          > p {
            width: 100%;
          }
          > div {
            width: 80%;
          }
        }
      }

      .plani_bottom {
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 8%;
        left: 0;
        z-index: 3;
        > li:nth-child(1) {
          display: flex;
          > p {
            cursor: pointer;
            font-family: $font-en;
            font-size: 14px;
            font-weight: 300;
            margin-left: 30px;
          }
          > img {
            cursor: pointer;
            width: 69px;
          }
        }
      }
    }

    .plani_rightBox {
      top: 6%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 78%;
      height: 350px;
      z-index: 1;

      .plani_overView {
        margin-top: 210px;
        width: 100%;
        height: 300px;
        overflow: hidden;

        > li {
          width: 100%;
          height: 100%;

          > img {
            width: 99.5%;
            height: 99.5%;
            box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
          }
        }
      }

      > a {
        display: block;
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px;
        position: absolute;
        width: 20%;
        right: 0;
        bottom: -95.5%;
        z-index: 10;
      }
    }
  }
}

@include minimobile {
  .plani_content {
    width: 100%;
    margin-top: 10px;
    height: 715px;
    display: flex;

    .plani_leftBox {
      width: 100%;
      height: 100%;

      > p {
        margin-top: 30px;
        font-family: $font-en;
        font-size: 10px;
        font-weight: 300;
      }

      > h2 {
        margin-top: 10px;
        font-family: $font-en;
        font-weight: 400;
        font-size: 30px;
      }

      .plani_list {
        width: 100%;
        height: 120px;

        position: absolute;
        top: 53%;
        left: 50%;
        transform: translateX(-50%);

        .list_item {
          cursor: pointer;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          > div {
            width: 99%;
            height: 99%;

            > img {
              width: 100%;
              height: 90px;
              box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
              /*   object-fit: cove */
            }
          }
        }
      }

      .plani_text {
        width: 100%;
        font-weight: 300;
        font-family: $font-kr;
        font-size: 12px;
        position: absolute;
        top: 68%;
        left: 1%;
        z-index: 2;

        p:nth-child(2),
        p:nth-child(3),
        p:nth-child(4) {
          display: none;
        }
        > div {
          width: 100%;
          height: 70px;
          display: flex;
          flex-wrap: wrap;
          display: none;

          > p {
            width: 100%;
          }
          > div {
            width: 80%;
          }
        }
      }

      .plani_bottom {
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 8%;
        left: 0;
        z-index: 3;
        > li:nth-child(1) {
          display: flex;
          > p {
            cursor: pointer;
            font-family: $font-en;
            font-size: 14px;
            font-weight: 300;
            margin-left: 30px;
          }
          > img {
            cursor: pointer;
            width: 69px;
          }
        }
      }
    }

    .plani_rightBox {
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 78%;
      height: 280px;

      /*    z-index: 1; */

      .plani_overView {
        margin-top: 210px;
        width: 100%;
        height: 280px;
        overflow: hidden;
        position: absolute;
        top: -52%;
        left: 0;

        > li {
          width: 100%;
          height: 100%;

          > img {
            width: 99.5%;
            height: 99.5%;
            box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
          }
        }
      }

      > a {
        display: block;
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px;
        position: absolute;
        width: 30%;
        right: 0;
        bottom: -111%;
      }
    }
  }
}

@include minimobile2 {
  .plani_content {
    width: 100%;
    margin-top: 10px;
    height: 715px;
    display: flex;

    .plani_leftBox {
      width: 100%;
      height: 100%;

      > p {
        margin-top: 30px;
        font-family: $font-en;
        font-size: 10px;
        font-weight: 300;
      }

      > h2 {
        margin-top: 10px;
        font-family: $font-en;
        font-weight: 400;
        font-size: 30px;
      }

      .plani_list {
        width: 100%;
        height: 120px;

        position: absolute;
        top: 47%;
        left: 50%;
        transform: translateX(-50%);

        .list_item {
          cursor: pointer;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          > div {
            width: 99%;
            height: 99%;

            > img {
              width: 100%;
              height: 70px;
              box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
              /*   object-fit: cove */
            }
          }
        }
      }

      .plani_text {
        width: 100%;
        font-weight: 300;
        font-family: $font-kr;
        font-size: 10px;
        position: absolute;
        top: 60%;
        left: 1%;
        z-index: 2;
        text-align: center;

        p:nth-child(2),
        p:nth-child(3),
        p:nth-child(4) {
          display: none;
        }
        > div {
          width: 100%;
          height: 70px;
          display: flex;
          flex-wrap: wrap;
          display: none;

          > p {
            width: 100%;
          }
          > div {
            width: 80%;
          }
        }
      }

      .plani_bottom {
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 8%;
        left: 0;
        z-index: 3;
        > li:nth-child(1) {
          display: flex;
          > p {
            cursor: pointer;
            font-family: $font-en;
            font-size: 12px;
            font-weight: 300;
            margin-left: 20px;
          }
          > img {
            cursor: pointer;
            width: 40px;
          }
        }
      }
    }

    .plani_rightBox {
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 78%;
      height: 260px;

      /*    z-index: 1; */

      .plani_overView {
        margin-top: 210px;
        width: 100%;
        height: 240px;
        overflow: hidden;
        position: absolute;
        top: -52%;
        left: 0;

        > li {
          width: 100%;
          height: 100%;

          > img {
            width: 99.5%;
            height: 99.5%;
            box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.1);
          }
        }
      }

      > a {
        display: block;
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
        font-size: 12px;
        position: absolute;
        width: 30%;
        right: 0;
        bottom: -129%;
      }
    }
  }
}
